In [5]:
import pandas as pd
import numpy as np

In [16]:
from bs4 import BeautifulSoup as bs
import requests

url1 = 'https://www.albamon.com/jobs/detail/98281054?searchRow=8&productCount=2&searchKeyword=%EC%8B%9C%EB%8B%88%EC%96%B4&logpath=1'
url2 = 'https://www.albamon.com/jobs/detail/98275242?searchRow=2&searchKeyword=%EC%8B%9C%EB%8B%88%EC%96%B4&logpath=1'
url3 = 'https://www.albamon.com/jobs/detail/98326956?searchRow=5&productCount=1&searchKeyword=%EC%8B%9C%EB%8B%88%EC%96%B4&logpath=1'
url4 = 'https://www.albamon.com/jobs/detail/98307432?searchRow=7&productCount=1&searchKeyword=%EC%8B%9C%EB%8B%88%EC%96%B4&logpath=1'
url_col = [url1, url2, url3, url4]

In [10]:
def collect_info(soup):
    condition = {}
    h2_sel = '#__next main div.title-form__group > h2'
    for h2 in soup.select(h2_sel):
        print(h2.text)
        if h2.text == '모집조건':
            dl_dd = h2.parent.parent.next_sibling.select('dl')
            for dd in dl_dd:
                print("***", dd.dt.text, "---", dd.dd.text)
                condition[dd.dt.text] = dd.dd.text
                
    return pd.DataFrame([condition])

In [17]:
df = pd.DataFrame(columns = ['모집마감', '모집인원', '모집분야', '성별', '학력', '연령', '우대사항'])
for url in url_col:
    r = requests.get(url)
    html = r.content
    soup = bs(html, 'html.parser')
    df_temp = collect_info(soup)
    df = pd.concat([df, df_temp])

모집조건
*** 모집마감 --- 2023-10-31마감 18일전
*** 모집인원 --- 1명
*** 모집분야 --- 매장판매, 매장관리
*** 성별 --- 성별무관
*** 학력 --- 고등학교 졸업 이상
*** 연령 --- 연령무관
*** 우대사항 --- 유사업무 경험 우대, 인근 거주 우대
근무지역
근무조건
상세요강
공고사진
지원방법
기업정보
모집조건
*** 모집마감 --- 상시모집
*** 모집인원 --- 4명친구와 함께 근무 가능
*** 모집분야 --- 신체강사, 음악강사, 교구강사, 미술강사
*** 성별 --- 성별무관
*** 학력 --- 학력무관
*** 연령 --- 연령무관
*** 우대사항 --- 차량소지, 유사업무 경험 우대
근무지역
근무조건
상세요강
공고사진
지원방법
기업정보
모집조건
*** 모집마감 --- 상시모집
*** 모집인원 --- 00명(인원미정)
*** 성별 --- 성별무관
*** 학력 --- 고등학교 졸업 이상
*** 연령 --- 연령무관
*** 우대사항 --- 유사업무 경험 우대, 인근 거주 우대
근무지역
근무조건
상세요강
지원방법
기업정보
모집조건
*** 모집마감 --- 상시모집
*** 모집인원 --- 00명(인원미정)
*** 성별 --- 성별무관
*** 학력 --- 학력무관
*** 연령 --- 연령무관
*** 우대사항 --- 유사업무 경험 우대, 인근 거주 우대
근무지역
근무조건
상세요강
공고사진
지원방법
기업정보

In [18]:
df

,모집마감,모집인원,모집분야,성별,학력,연령,우대사항
0,2023-10-31마감 18일전,1명,"매장판매, 매장관리",성별무관,고등학교 졸업 이상,연령무관,"유사업무 경험 우대, 인근 거주 우대"
0,상시모집,4명친구와 함께 근무 가능,"신체강사, 음악강사, 교구강사, 미술강사",성별무관,학력무관,연령무관,"차량소지, 유사업무 경험 우대"
0,상시모집,00명(인원미정),NaN,성별무관,고등학교 졸업 이상,연령무관,"유사업무 경험 우대, 인근 거주 우대"
0,상시모집,00명(인원미정),NaN,성별무관,학력무관,연령무관,"유사업무 경험 우대, 인근 거주 우대"

In [2]:
h1_sel = '#__next main header h1'
soup.select(h1_sel)[0].text

'(주)룸페커 대전노은 직영점 매장 시니어 정직원 구인'

In [15]:
df = pd.DataFrame([condition])
df

,모집마감,모집인원,모집분야,성별,학력,연령,우대사항
0,2023-10-31마감 18일전,1명,"매장판매, 매장관리",성별무관,고등학교 졸업 이상,연령무관,"유사업무 경험 우대, 인근 거주 우대"

In [4]:
df = pd.DataFrame(columns = ['모집마감', '모집인원', '모집분야', '성별', '학력', '연령', '우대사항'])
df

Empty DataFrame
Columns: [모집마감, 모집인원, 모집분야, 성별, 학력, 연령, 우대사항]
Index: []

In [5]:
h2.parent.parent.next_sibling

<div class="detail-recruit-company-info__container"><div class="detail-recruit-company-info__header"><div class="detail-recruit-company-info__logo"><span class="Image_custom-image__JueAF Image_custom-image--intrinsic__fiykE Image_custom-image--has-ratio__mofeE" style="aspect-ratio:128 / 51"><img alt="㈜룸페커 기업 로고" class="" height="51" loading="lazy" src="https://file.albamon.com/Albamon/Recruit/Photo/C-Photo-View?FN=2015\3\JK_CO_roompacker.jpg" width="128"/></span></div><div class="detail-recruit-company-info__company detail-recruit-company-info__content"><h3 class="Typography_typography__53V55 Typography_typography--H2__gs0RN Typography_typography--medium__EuyrE detail-recruit-company-info__name">㈜룸페커</h3><div class="detail-recruit-company-info__chips"><div class="DetailInsurance_detail-insurance__15LYE"><span class="Chip_accent__HOga1 Chip_radius4__ZvHrI Chip_light-filled__h9o_m Chip_chip__7EkHk"><span class="Chip_content__J_ZRW chip-content">고용보험</span></span><span class="Chip_secondary-green__0uQtN Chip_radius4__ZvHrI Chip_light-filled__h9o_m Chip_chip__7EkHk"><span class="Chip_content__J_ZRW chip-content">산재보험</span></span><span class="Chip_primary__yt3yq Chip_radius4__ZvHrI Chip_light-filled__h9o_m Chip_chip__7EkHk"><span class="Chip_content__J_ZRW chip-content">국민연금</span></span><span class="Chip_negative-red__YwGNP Chip_radius4__ZvHrI Chip_light-filled__h9o_m Chip_chip__7EkHk"><span class="Chip_content__J_ZRW chip-content">건강보험</span></span><div class="detail-insurance__company-tooltip"><div class="Tooltip_tooltip-wrap__0p1sG" tabindex="-1"><button aria-expanded="false" data-tooltip-target="true" type="button"><i aria-hidden="true" class="Icon_icon__BlZpj icon-system_tooltip1"></i></button><div class="tooltip tooltip-box-type detail-insurance__company-tooltip-box" role="tooltip"><div class="tooltip-inner bottom-start" style="transform:translate(0px,100%)"><div class="tooltip-box"><div class="tooltip-content"><div><p class="Typography_typography__53V55 Typography_typography--C1__LW8bB Typography_typography--bold__BbU7t tooltip-title">정보제공·근로복지공단</p><p class="Typography_typography__53V55 Typography_typography--C1__LW8bB Typography_typography--medium__EuyrE">4대 사회보험 지원여부는 채용공고 및 고용형태에 따라 상이할 수 있습니다.</p></div></div><button class="tooltip-close-button" type="button"><i aria-hidden="true" class="Icon_icon__BlZpj icon-system_close"></i></button><div class="tooltip-box__arrow"></div></div></div></div></div></div></div></div></div><button class="Button_button__S9rjD Button_contained__DJSrI Button_large___Kecx Button_secondary__TsNNa Button_has-start-icon__B9L4D" type="button"><i aria-hidden="true" class="Icon_icon__BlZpj icon-system_heart"></i><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--medium__EuyrE">관심기업 <!-- -->45</span></button></div><hr class="Divider_container__P3NRl Divider_color-Gray100__lmjBc Divider_orientation-horizontal__x13gE variant-full Divider_margin-20__XycP5 gutter-0"/><div class="detail-recruit-company-info-information detail-recruit-company-info__content"><div class="detail-recruit-company-info-information__item"><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__title">대표</span><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__description">이상은</span></div><div class="detail-recruit-company-info-information__item"><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__title">사업내용</span><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__description">여성의류 온라인 쇼핑몰 / 매장</span></div><div class="detail-recruit-company-info-information__item"><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__title">회사주소</span><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info__address">서울 송파구 오금로 111 (방이동, 세기빌딩) 세기빌딩 10층</span></div><div class="detail-recruit-company-info-information__item"><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp detail-recruit-company-info-information__title">홈페이지</span><div class="detail-recruit-company-info__homepage"><a href="http://www.roompacker.co.kr" rel="noopener nofollow noindex noreferrer" target="_blank" title="새 창"><span class="Typography_typography__53V55 Typography_typography--B2__60_O6 Typography_typography--regular__qCojp">http://www.roompacker.co.kr</span></a></div></div></div></div>

In [ ]:
soup.select(h2_sel)

In [ ]:
import pandas as pd
import numpy as np
 
from tqdm import tqdm
def generate_df(num_col,num_row):
    df = pd.DataFrame()
    for x in range(num_col):
        df[x] = np.random.normal(size=num_row)
    return df

In [ ]:
df1= generate_df(3,5)
df1

In [ ]:
df2= pd.DataFrame()
df3= pd.concat([df2, df1], axis=0)
df3

In [ ]:
df_base = pd.DataFrame(pd.Series([],dtype=pd.StringDtype(), name='parameter')).set_index('parameter')
df_base

In [ ]:
!pip install tqdm

In [ ]:
n = 30
num_col = 200
num_row = 100000

In [ ]:
# %%time
np.random.seed(133)
 
res_df = generate_df(num_col,num_row)
for i in tqdm(range(n-1),total=n-1):
    temp_df = generate_df(num_col,num_row)
    res_df = res_df.append(temp_df, ignore_index=True)

In [ ]:
np.random.seed(133)
 
res_df = pd.DataFrame()
for i in tqdm(range(n),total=n):
    temp_df = generate_df(num_col,num_row)
    res_df = pd.concat([res_df,temp_df], ignore_index=True)