<a href="https://colab.research.google.com/github/fasthill/sundry/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# from google.colab import files
# uploaded = files.upload()

In [ ]:
# from google.colab import drive
# drive.mount('/gdrive', force_remount=True)

In [ ]:
# !unzip developer_survey_2019.zip

In [ ]:
dir1 = './drive/MyDrive/Colab Notebooks/My Drive/developer_survey_2019/'
df = pd.read_csv(dir1+'survey_results_public.csv')
schema_df = pd.read_csv(dir1+'survey_results_schema.csv')

In [ ]:
pd.set_option('display.max_columns', 85) # 촤대로 보이는 column수가 85개로 보임
pd.set_option('display.max_rows', 85) # 촤대로 보이는 row가 85개로 보임

In [ ]:
df.shape

(88883, 85)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
schema_df.head()

In [ ]:
df.columns

In [ ]:
df[['Respondent','MainBranch']]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.iloc[0:1]

In [ ]:
df.iloc[[0,1],[2]]

In [ ]:
df.Hobbyist

In [ ]:
df[['Hobbyist']].value_counts()

In [ ]:
df.loc[[0,1,2],'Hobbyist':'Student']

In [ ]:
df.loc[0:2] # != df.iloc[0:2]

In [ ]:
dfc = df.copy()

In [ ]:
dfc.set_index('Respondent')

In [ ]:
dfc.set_index('Respondent', inplace = True)

In [ ]:
dfc.head()

In [ ]:
dfc.reset_index(inplace=True)

In [ ]:
dfc.head()

In [ ]:
# dir1 = './drive/MyDrive/Colab Notebooks/My Drive/developer_survey_2019/'
df = pd.read_csv(dir1+'survey_results_public.csv', index_col = 'Respondent')

In [ ]:
df.head()

In [ ]:
schema_df = pd.read_csv(dir1+'survey_results_schema.csv', index_col= 'Column')

In [ ]:
schema_df.head()

In [ ]:
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [ ]:
schema_df.sort_index(inplace=True, ascending=True)

In [ ]:
schema_df.head()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...

In [ ]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [ ]:
filt = (df['Hobbyist'] == 'Yes')

In [ ]:
df.loc[filt, ['OpenSourcer', 'OpenSource']]

In [ ]:
df.loc[~filt, ['OpenSourcer', 'OpenSource']]

In [ ]:
df.set_index('Respondent', inplace=True)

In [ ]:
high_salary = (df['ConvertedComp'] > 70000)

In [ ]:
df.loc[high_salary, ['Country', 'LanguageDesireNextYear', 'ConvertedComp']].sort_values('ConvertedComp')

In [ ]:
countries =['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [ ]:
df.loc[filt, 'Country']

In [ ]:
df['LanguageWorkedWith']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False) # if the value is NAN, set it to False

In [ ]:
filt

In [ ]:
df.loc[filt, 'LanguageWorkedWith']

In [ ]:
drename = df.columns.str.replace('S', '_')
drename

In [ ]:
df.rename(columns={'Country' : 'Country_rename', 'Student': 'Student_rename' }, inplace=False)

In [ ]:
df.rename({'Country_rename':'Country'}, inplace=True)

In [ ]:
df[~df['Country'].isna()]

In [ ]:
df.Country

In [ ]:
def nantest(x):
  if pd.isna(x):
    return x
  else:
    return x.upper()

df['Country'].apply(nantest)

In [ ]:
df.apply(len, axis =1)

In [ ]:
df.apply(pd.Series.min)

In [ ]:
#applymap은 dataframe의 각각의 element에 적용.
# apply는 dataframe, columns or rows에 적용

In [ ]:
df.applymap(str).applymap(len) # NaN 이나 숫자를 글자로 변환후 len 적용

In [ ]:
df.applymap(str).applymap(str.lower)

In [ ]:
xx = np.nan
len(str(xx))

In [ ]:
#map only works for Series

In [ ]:
df['Country'].replace({'United States': 'U.S.A', 'Thailand': 'Thailands'})

In [ ]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)

In [ ]:
df.columns.isin(['SalaryUSD'])

In [ ]:
df['Hobbyist'].replace({'Yes': True, 'No': False})

In [ ]:
df['Hobbyist'].map({'Yes': True, 'No': False}) # Yes 와 No 외의 값은 NaN으로 변환됨. .replace는 그대로 남아 있음.

In [ ]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False}) #inplace 기능

In [ ]:
df['Hobbyist']

In [1]:
df.Hobbyist

NameError: ignored