In [1]:
'''
27쪽 문자열, 숫자  # 슬라이드 27쪽
'''

'\n27쪽 문자열, 숫자  # 슬라이드 27쪽\n'

In [2]:
'paichai'

'paichai'

In [3]:
"Python"  # 따옴표 사용 슬라이드 28쪽

'Python'

In [4]:
배재대학교
대전시 중구
스마트배재관

SyntaxError: invalid syntax (<ipython-input-4-2e624d7edec0>, line 2)

In [6]:
'''
배재대학교
대전시 중구
스마트배재관
'''

'\n배재대학교\n대전시 중구\n스마트배재관\n'

In [7]:
'개행문자'

'개행문자'

In [8]:
print('배재대학교')

배재대학교

In [9]:
print('''
배재대학교
대전시 중구
스마트배재관
''')

배재대학교
대전시 중구
스마트배재관

In [10]:
'정수'

'정수'

In [11]:
1, 2, 100000

(1, 2, 100000)

In [12]:
# 실수 : 소수점이 있는 숫자

In [13]:
0.1, 10.5, 1.

(0.1, 10.5, 1.0)

In [14]:
print(1, 10.2, 1.0, 2.) # 슬라이드 35

1 10.2 1.0 2.0

In [15]:
# 수식 연산자 곱하기 *, 나누기 /,  더하기 +,  빼기 -
# 계산 순서 : 곱하기/나누기 먼저 진행 후 더하기 빼기

In [16]:
10 + 5 * 2

20

In [17]:
(10 + 5) * 2  # 자신이 없으면 무조건 괄호 사용

30

In [18]:
print(10 * 2) # 슬라이드 36쪽

20

In [19]:
# 데이터 저장  37쪽
# 변수란? variables 38쪽
# 40. 41쪽 중요

In [20]:
x = 1
x = x + 1
print(x)

2

In [21]:
a, b = 10, 20  # 45쪽
print(a, b)

10 20

In [22]:
a, b = b, a  # 변수 값 교환
print(a, b)

20 10

In [23]:
# 문자열 = string  # 46쪽

In [24]:
name = input("이름 입력하세요: ")

이름 입력하세요: 홍길동

In [25]:
name  # name은 문자열

'홍길동'

In [26]:
student_number = input("학번을 입력하세요 : ")

학번을 입력하세요 : 444

In [27]:
student_number # 따옴표 확인

'444'

In [28]:
ssum = student_number + 1 # 문자열 확인

TypeError: can only concatenate str (not "int") to str

In [29]:
s_int = int(student_number)  # int : 정수로 변환하는 함수

In [30]:
s_int + 1

445

In [31]:
s_float = float(student_number)  # float : 실수로 변환하는 함수
s_float

444.0

In [32]:
# input 내용을 처음부터 정수로 받으려면
student_number = int(input("학번을 입력하세요 : "))

학번을 입력하세요 : 66

In [37]:
# 52쪽 간단 설명

In [38]:
str(s_float)  # 숫자를 문자열로 바꾸려면 str() 함수 사용

'444.0'

In [39]:
# 변수의 type을 확인하려면? type() 이용

type(s_float), type(name), type(s_int)

(float, str, int)

In [40]:
# 56쪽 간단 설명

### 매우 중요 리스트 (list)

In [41]:
# 61쪽 62족 설명

In [42]:
fruits = ['사과', '포도', '수박', '배', '자두']  # 대괄호 사용

In [43]:
fruits

['사과', '포도', '수박', '배', '자두']

In [44]:
print(fruits)

['사과', '포도', '수박', '배', '자두']

In [47]:
fruits_empty = ['사과', '포도', ,'수박', '배', '자두']  # error 발생. 빈공간
fruits_empty

SyntaxError: invalid syntax (<ipython-input-47-6d3f9be746d2>, line 1)

In [48]:
# 빈 리스트 선언
list_var = []
list_var

[]

In [49]:
# 65쪽 설명

In [51]:
# '포도'룰 찾아 내고 싶을 때., '포도'는 몇번째?

In [52]:
fruits[2]  # 대괄호 사용. 포도가 아니고 '수박'?

'수박'

In [53]:
# 66쪽 설명, index 의미, 순서

In [54]:
# 리스트 순서 "0" 부터 시작, => 0, 1, 2, 3, 4,
'포도'룰 찾아 내고 싶을 때., '포도'는 몇번째?

Object `몇번째` not found.

In [55]:
fruits[1]

'포도'

In [56]:
fruits[5]  #68쪽

IndexError: list index out of range

In [57]:
# 범위를 초과할 경우 "list index out of range" 에러 발생

In [58]:
len(fruits)  # 리스트안에 있는 갯수. length

5

In [59]:
# 반복문

In [60]:
for num in [3,4,5,6,7,8,9,10]:  # 리스트 순서대로 하나씩 반복. 중요..
    print('num: ', num)

num:  3
num:  4
num:  5
num:  6
num:  7
num:  8
num:  9
num:  10

In [61]:
for item in fruits:
    print('item: ', item)  # 프린트 문 기본 형식, 문자, 변수

item:  사과
item:  포도
item:  수박
item:  배
item:  자두

In [62]:
for index, item in enumerate(fruits):  # index까지 확인할 경우 # 71쪽
    print('index : ', index, 'item: ', item)

index :  0 item:  사과
index :  1 item:  포도
index :  2 item:  수박
index :  3 item:  배
index :  4 item:  자두

In [63]:
# while 문은 한번 돌리는 것으로 대체

In [64]:
i = 0  # 72쪽
while i < len(fruits):
    print('index: ', i, ', item: ', fruits[i])
    i = i + 1 # i += 1

index:  0 , item:  사과
index:  1 , item:  포도
index:  2 , item:  수박
index:  3 , item:  배
index:  4 , item:  자두

In [65]:
fruits.index('배')  # item의 index를 찾을 때  # 73쪽

3

In [66]:
# 문자열은 기본적으로 리스트 구조
univ = 'paichai'  #  문자열 변수 지정
univ

'paichai'

In [67]:
len(univ)

7

In [68]:
univ[3]

'c'

In [69]:
fruits = ['사과', '포도', '수박', '배', '자두']  # 대괄호 사용

In [70]:
# 리스트 항목 추가. 매우 중요 .append()
fruits.append('참외')  # 맨 뒤에 삽입

In [71]:
fruits

['사과', '포도', '수박', '배', '자두', '참외']

In [72]:
# 원하는 위치에 삽입하고자 할 경우, 76쪽
fruits.insert(2,'참외')
fruits

['사과', '포도', '참외', '수박', '배', '자두', '참외']

In [73]:
f2 = ['바나나', '앵두']

In [74]:
fruits.extend(f2)  # 리스트 item을 리스트에 삽입할 경우  # 78쪽

In [75]:
fruits

['사과', '포도', '참외', '수박', '배', '자두', '참외', '바나나', '앵두']

In [76]:
result = fruits.pop()  # 79쪽

In [77]:
result

'앵두'

In [78]:
fruits

['사과', '포도', '참외', '수박', '배', '자두', '참외', '바나나']

In [79]:
del fruits[6]  # 81쪽

In [80]:
fruits

['사과', '포도', '참외', '수박', '배', '자두', '바나나']

In [81]:
# 원하는 item 이름으로 삭제 # 83쪽
fruits.remove('자두')

In [82]:
fruits

['사과', '포도', '참외', '수박', '배', '바나나']

In [83]:
# 84쪽 설명

In [84]:
# 87쪽 sort()
numbers = [5, 1, 3, 4, 2, 6]
numbers

[5, 1, 3, 4, 2, 6]

In [85]:
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6]

In [86]:
numbers.sort(reverse=True)  # 89쪽, 내림차순  , default = False
numbers

[6, 5, 4, 3, 2, 1]

In [87]:
names = ['홍길동', '김길동', '이길동', '박길동', '정길동']
names.sort()
names

['김길동', '박길동', '이길동', '정길동', '홍길동']

In [88]:
names.reverse() # 90쪽. sort와 무관
names

['홍길동', '정길동', '이길동', '박길동', '김길동']

In [89]:
names.sort(reverse=True) # 
names

['홍길동', '정길동', '이길동', '박길동', '김길동']

# 슬라이싱 매우 중요

In [90]:
# 91~92쪽, 인덱스를 이용하여 리스트에서 필요한 부분만 골라 내는 방법

In [91]:
fruits = ['사과', '포도', '참외', '수박', '배', '바나나']

In [92]:
fruits

['사과', '포도', '참외', '수박', '배', '바나나']

In [93]:
fruits[1:3] # 마지막은 포함되지 않음.

['포도', '참외']

In [94]:
fruits[3:]  # 4번[3:]째부터 끝까지

['수박', '배', '바나나']

In [95]:
fruits[:3] # 처음부터 3번째까지

['사과', '포도', '참외']

In [96]:
fruits[-1]

'바나나'

In [97]:
fruits[3:-1]

['수박', '배']

In [98]:
fruits[-3:]

['수박', '배', '바나나']

In [99]:
f1 = fruits[1:3] # 일부분만 빼서 따로 저장하고 사용
f1

['포도', '참외']

## 데이터 연산

In [100]:
# 94쪽. 사칙연산 *, /, +, -
1 + 3

4

In [111]:
x = int(input(" 정수 1:"))

 정수 1:8

In [112]:
y = int(input(" 정수 2:"))

 정수 2:5

In [113]:
z = x + y
z

13

In [114]:
z = x / y
z

1.6

In [115]:
#97쪽 연산자 //. %
x // y # 몫

1

In [116]:
x % y  # 나누고 남은 나머지

3

In [117]:
30 % 15

0

In [118]:
30 // 15

2

In [119]:
# 101쪽
x = y = z = 1

In [120]:
x

1

In [121]:
y

1

In [122]:
z

1

In [123]:
# 102쪽
# 등호 왼쪽에 항상 변수만 지정해야 함.

In [124]:
# 103쪽 중분 대입 연산자

In [125]:
x += 10
x

11

In [126]:
y -= 20
y

-19

In [127]:
# 연산의 우선순위 # 105쪽

In [128]:
3 + 2 * 5

13

In [129]:
( 3 + 2 ) * 5

25

In [130]:
# 미심적다 하면 항상 괄호를 사용하도록 # 107번. 실수가 많이 일어 남.

## 조건문 중요

In [131]:
90 >= 80

True

In [132]:
10 > 10

False

In [133]:
# 참(True), 거짓(False) # 112쪽
'''
x > y
x >= y
x < y
x <= y
x == y
x != y
'''

'\nx > y\nx >= y\nx < y\nx <= y\nx == y\nx != y\n'

In [134]:
10 == 10

True

In [135]:
10 != 10

False

In [136]:
x, y = 6, 2  # 변수 설정방법중 하나

In [137]:
x > y, x != y

(True, True)

In [138]:
# and, or 연산자
(x > y) and (x != y)  # 모든게 True일 경우 True

True

In [139]:
(x < y) and (x != y)

False

In [140]:
(x < y) or (x != y)  # 한 개만 True여도 True

True

In [141]:
x < y or x != y  # 괄호를 사용하지 않은 경우

True

In [142]:
# 116쪽

In [143]:
not (x != y)

False

In [144]:
# 118쪽 설명

In [145]:
if (10 > 2):
    print("True")

True

In [211]:
if not (10 > 2):
    print('True')

In [147]:
if (10 > 2):
    print("True")
else:
    print('False')

True

In [148]:
# 120쪽

In [149]:
kor_score = 70
if kor_score >= 80:
    print("합격")
else:
    print("불합격")

불합격

In [150]:
kor_score = 80
if kor_score >= 90:
    print("A")
else:
    if kor_score >= 80:
        print('B')
    else:
        print("C")

B

In [151]:
kor_score = 60
if kor_score >= 90:
    print("A")
elif kor_score >= 80:
    print('B')
else:
    print("C")

C

In [152]:
eng_score = 80
kor_score = 70
if (eng_score >= 90) and (kor_score >= 90):
    print("합격입니다")
else:
    print('불합격입니다')

불합격입니다

## 반복문

In [153]:
# 133쪽
# for문과 while문

In [154]:
# 리스트릉 이용한 반복문
list1 = [1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [155]:
list1 = [1,2,3,4,5]
for i in list1:
    i10 = i * 10
    print(i10)

10
20
30
40
50

In [156]:
for i in fruits:
    print(i)

사과
포도
참외
수박
배
바나나

In [157]:
# range를 이용한 반복문
for i in range(5):  # 0부터 5-1 까지
    print(i)

0
1
2
3
4

In [158]:
for i in range(2, 10, 2):  # 2부터 10-1까지 2씩 증가하면서 진행
    print(i, end= " ,")

2 ,4 ,6 ,8 ,

In [159]:
for i in range(2, 10, 2):  # 2부터 10-1까지 2씩 증가하면서 진행
    print(i, end="\n\n")

2

4

6

8

In [160]:
sum = 0  # 140쪽
for i in range(10, 30, 3): # 이런 형식은 외우고 있어야 함
    sum = sum + i
print('sum: ', sum)

sum:  133

In [161]:
# while 문
i = 1
while i <= 5:
    print(i, end=" ")
    i = i + 1
print('끝')

1 2 3 4 5 끝

In [162]:
# break문, continue문 # 145쪽

In [163]:
for i in range(2, 1000):  
    if i > 10:
        break
    print(i, end= " ,")

2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,

In [164]:
for i in range(2, 1000):  
    if (i > 10) and (i < 990):
        continue
    print(i, end= " ,")

2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,990 ,991 ,992 ,993 ,994 ,995 ,996 ,997 ,998 ,999 ,

## 함수

In [165]:
# 151쪽 내장함수, 152쪽 반복적으로 사용하는 공식 등

In [166]:
'''
def 함수이름():
    문장
    return
'''

'\ndef 함수이름():\n    문장\n    return\n'

In [167]:
def avg(x1, x2, x3):
    average = (x1 + x2 + x3)/3
    return average

In [168]:
result = avg(3, 4, 5)
result

4.0

In [169]:
def fprint(x):  # 함수에 return이 없을 경우
    print("함수내 print:", x)

In [170]:
fprint('프린트')

함수내 print: 프린트

In [171]:
def add(x, y = 10): # default 값 지정
    return x + y

In [172]:
add(20), add(20, 30)

(30, 50)

In [173]:
# argument(인수) -> 3,4,5   # 156쪽
# parameter(매개변수) -> x1, x2, x3

### container 저장

In [174]:
# dictionary, set, tuple

In [175]:
dict1 = {'이름':'홍길동', '키': 187, '몸무게': 75, '전화번호': '123-456-7890'}
dict1

{'이름': '홍길동', '키': 187, '몸무게': 75, '전화번호': '123-456-7890'}

In [176]:
dict1.keys()

dict_keys(['이름', '키', '몸무게', '전화번호'])

In [177]:
dict1.values()

dict_values(['홍길동', 187, 75, '123-456-7890'])

In [178]:
dict1.items()

dict_items([('이름', '홍길동'), ('키', 187), ('몸무게', 75), ('전화번호', '123-456-7890')])

In [179]:
dict1['주소'] = '대전시'
dict1

{'이름': '홍길동', '키': 187, '몸무게': 75, '전화번호': '123-456-7890', '주소': '대전시'}

In [180]:
del dict1['주소']

In [181]:
for key, value in dict1.items():
    print('key: ', key, 'value:', value)

key:  이름 value: 홍길동
key:  키 value: 187
key:  몸무게 value: 75
key:  전화번호 value: 123-456-7890

In [182]:
for key, value in dict1.items():
    print('key: {}, value: {}'.format(key, value))

key: 이름, value: 홍길동
key: 키, value: 187
key: 몸무게, value: 75
key: 전화번호, value: 123-456-7890

In [183]:
tup = (1, 'football', 3) # tuple
tup

(1, 'football', 3)

In [184]:
type(tup)

tuple

In [185]:
tup[1]

'football'

In [186]:
tup[1] = 'soccer'

TypeError: 'tuple' object does not support item assignment

In [187]:
list2 = [2,1,2,4,5,2,3,5]

In [188]:
set1 = set(list2)  # set 순서가 없고 중복이 없음.
set1

{1, 2, 3, 4, 5}

In [189]:
set2 = set() # set 선언은 set()으로 만 가능
set3 = {}  # dict 선언

In [190]:
dict1 = dict()
type(dict1)

dict

In [191]:
list1 = list()
type(list1)

list

In [192]:
apple = '사과'
if apple in fruits:
    print(f'광주리에 {apple}가 있습니다')

광주리에 사과가 있습니다

In [193]:
# 복사 
f_copy = fruits
f_copy

['사과', '포도', '참외', '수박', '배', '바나나']

In [194]:
f_copy[0] = '토마토'
f_copy

['토마토', '포도', '참외', '수박', '배', '바나나']

In [195]:
fruits  # 같이 바뀜

['토마토', '포도', '참외', '수박', '배', '바나나']

In [196]:
id(fruits) # 메모리 주소

1473569166464

In [197]:
id(f_copy) # 메모리 주소

1473569166464

In [198]:
# 메모리 주소가 같으니 결국 이름만 다를 뿐이지 같은 내용이다.  => 얕은복사

In [199]:
fruits = ['사과', '포도', '참외', '수박', '배', '바나나']

In [200]:
f_copy = fruits[:]
f_copy

['사과', '포도', '참외', '수박', '배', '바나나']

In [201]:
f_copy[0] = '토마토'
f_copy

['토마토', '포도', '참외', '수박', '배', '바나나']

In [202]:
fruits

['사과', '포도', '참외', '수박', '배', '바나나']

## Class

In [203]:
class Rectangle:  # naming convention  CamelCase.
    count = 0  # 클래스 변수
 
    # 생성자(constructor), 초기자(initializer)
#     def __init__(self, width=None, height=None):
#         if width is None: width = 5
#         if height is None: height = 10
    def __init__(self, width, height):
        self.width = width
        self.height = height
        Rectangle.count += 1
 
    # 메서드 = 함수
    def calc_area(self):
        area = self.width * self.height
        return area

In [204]:
rec1 = Rectangle(5,5)
rec1.calc_area()

25

In [205]:
Rectangle.count

1

In [206]:
rec2 = Rectangle(50,50)
rec2.calc_area()

2500

In [207]:
Rectangle.count

2

#### 출력 형식

In [208]:
x = 10
y = 5.5
name = '홍길동'
print('x: {:5d}  y: {:5.4f}  name:{:5s}'.format(x, y, name))
print('x: {:10d}  y: {:10.4f}  name:{:10s}'.format(x, y, name))

x:    10  y: 5.5000  name:홍길동
x:         10  y:     5.5000  name:홍길동

In [209]:
print('x: %10d  y: %10.4f  name: %10s' %(x, y, name))

x:         10  y:     5.5000  name:        홍길동